<h2>{{quote.description}}</h2>
<h6>This Quote was submitted {{quote.completeDate}} days ago</h6>
<button class=" btn btn-info" (click)='clickLike()' type="submit" id="like">
  <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
  <span class="badge">{{like}} Likes</span>
</button>
<button (click)='clickUnlike()' class="btn btn-info" type="submit" id="like" >
  <span class="badge">{{dislike}} Dislikes</span>
</button>
<div>
  <a class="btn btn-danger" (click)='quoteDelete(true)'>Delete Quote</a>
</div>
